@media only screen and (min-width: 43.7em) {

    main {
        margin-right: 15%;
        margin-left: 15%;
    }

    .call-to-action-div {
        display: grid;
        grid-template-columns: 3fr 2fr;  
        grid-gap: 20px;
    }

    .call-to-action-div p {
        margin: 0;
    }

    .button-div {
        grid-column: 1 / 3;
    }

    /*---------------------------------------------*/

    iframe {
        width: 60%
    }

    /*---------------------------------------------*/

    .forecast {
        width: 80%;
        margin: auto;
    }


}

@media only screen and (min-width: 43.7em) {

    

}