/* Media Query for medium+ views */
@media only screen and (min-width: 35.9em) {

  

  /*-----------------------------------------------------------*/
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
  
  .header-and-nav {
    display: block;
  }
  /*-------------------------------------------------------------*/

  .stats {
    position: absolute;
    bottom: 25px;
    right: 50px;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: .8;
  }
  /*-----------------------------------------------------------*/

  table {
    margin: 0px;
  }

  /*------------------------------------------------------------*/

  
  
  /*------------------------------------------------------------*/
  
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
    margin-top: 100px;
  }
  
  .social {
    display: inline-block;
  }
  
  .contact-and-social {
    grid-column: 2 / 3;
    padding: 0px;
    justify-self: center;
  }
  
  footer img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: right;
  }
  
  footer h4 {
    margin: 0px;
  }

  #updated, #source-link, .wireframe-link {
    text-align: center;
    margin: 0px;
    grid-column: 1 / 3;
  }


  /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .map {
      height: 175px;
  }
}